
<a href="{% url 'logout' %}">Cerrar sesion</a>
<div style="text-align:center;padding:1em 0;"> <h3><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/country/gt"><span style="color:write;">Hora actual en</span><br />Guatemala</a></h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=medium&timezone=America%2FGuatemala" width="100%" height="115" frameborder="0" seamless></iframe> </div>
<body background="https://static.brusheezy.com/system/resources/previews/000/064/142/non_2x/pet-shop-photoshop-brushes.jpg"><h1><center></center></h1><font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”></font>

